# ========================
# Gradle
# ========================
.gradle/
build/
*/build/

# ========================
# Local configuration
# ========================
local.properties

# ========================
# IDE (Android Studio / IntelliJ)
# ========================
.idea/
*.iml
*.ipr
*.iws
.settings/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# APK / AAB / 输出文件
# ========================
*.apk
*.ap_
*.aab

# ========================
# Logs
# ========================
*.log

# ========================
# Native build
# ========================
.externalNativeBuild/
.cxx/

# ========================
# Backup files
# ========================
*.bak
*.old
*.tmp

# ========================
# Eclipse legacy (老项目很常见)
# ========================
bin/
gen/

# ========================
# Kotlin / Java cache
# ========================
*.class
*.jar

# ========================
# Signing (重要，不要上传)
# ========================
*.keystore
*.jks
*.db
assets/*.db

# ========================
# Firebase / Google config（如果有）
# ========================
google-services.json

# ========================
# Fastlane（如果用）
# ========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# ========================
# NDK
# ========================
obj/
!研经工具文件生成/**/*.jar